<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">{{ 'DATABASE_CONNECTIONS' | translate }}</a></li>
    <li><a ng-href="#/queries">{{ 'QUERIES' | translate }}</a></li>
    <li><a ng-href="#/resultSets">{{ 'RESULT_SETS' | translate }}</a></li>
    <li><a ng-href="#">{{ 'ABOUT' | translate }}</a></li>
    <li><a ng-href="#">{{ 'CONTACT' | translate }}</a></li>
  </ul>
  <h3 class="text-muted">ZenQuery</h3>
</div>

<br><br><hr>
<footer>
  <div id="main_footer">created by <a href="http://fullmontymedia.com" title="Full Monty Media">Full Monty Media</a>, {{currentYear}}.</div>
</footer>
